<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @rebound.id %>
</p>

<p>
  <b>Gp:</b>
  <%= @rebound.GP %>
</p>

<p>
  <b>Mpg:</b>
  <%= @rebound.MPG %>
</p>

<p>
  <b>Off:</b>
  <%= @rebound.OFF %>
</p>

<p>
  <b>Orpg:</b>
  <%= @rebound.ORPG %>
</p>

<p>
  <b>Def:</b>
  <%= @rebound.DEF %>
</p>

<p>
  <b>Drpg:</b>
  <%= @rebound.DRPG %>
</p>

<p>
  <b>Reb:</b>
  <%= @rebound.REB %>
</p>

<p>
  <b>Rpg:</b>
  <%= @rebound.RPG %>
</p>

<p>
  <b>Rp40:</b>
  <%= @rebound.RP40 %>
</p>

<p>
  <b>Day:</b>
  <%= @rebound.day %>
</p>

<p>
  <b>Month:</b>
  <%= @rebound.month %>
</p>

<p>
  <b>Year:</b>
  <%= @rebound.year %>
</p>

<p>
  <b>Season:</b>
  <%= @rebound.season %>
</p>

<p>
  <b>Player:</b>
  <%= @rebound.player_id %>
</p>


<%= link_to 'Edit', edit_rebound_path(@rebound) %> |
<%= link_to 'Back', rebounds_path %>
