<nav id="menu_arriba">
        <ul>
            <li><%= link_to 'Toda la temporada', turnovers_path %></li>
            <li><%= link_to "Día anterior", :controller => "turnovers", :action => "daybefore"%></li>
            <li><%= link_to "Últimos 5 días", :controller => "turnovers", :action => "fivedaysbefore"%></li>
            <li><%= link_to "Últimos 10 días", :controller => "turnovers", :action => "tendaysbefore"%></li>
        </ul>
    </nav>    
</header>

<section id="rojo">
  <div class="transrojo">
    <div class="fondotransBus">


    </div>
    <table>
      <tr>
        <th>Jugador</th>
        <th>Partidos Jugados</th>
        <th>Pérdidas</th>
        <th>Pérdidas por partido</th>  
      </tr>

    <% @turnovers.each do |turnover| %>
      <tr>
        <td><%= turnover.player.player %></td>
        <td><%= turnover.GP %></td>
        <td><%= turnover.T_O %></td>
        <td><%= turnover.TOPG %></td>        
      </tr>
    <% end %>
    </table>
    <%= will_paginate @turnovers %>
  </div>
</section>