
  <nav id="menu_arriba">
      <ul>
          <li><%= link_to 'Toda la temporada', fouls_path %></li>
          <li><%= link_to "Día anterior", :controller => "fouls", :action => "daybefore"%></li>
          <li><%= link_to "Últimos 5 días", :controller => "fouls", :action => "fivedaysbefore"%></li>
          <li><%= link_to "Últimos 10 días", :controller => "fouls", :action => "tendaysbefore"%></li>
      </ul>
    </nav>    
</header>

<section id="rojo">
    <div class="transrojo">
        <div class="fondotransBus">


        </div>   
        <table>
          <tr>
            <th>Jugador</th>
            <th>Partidos Jugados</th>
            <th>Faltas personales</th>
            <th>Faltas personales por partido</th> 
          </tr>

        <% @fouls.each do |foul| %>
          <tr>
            <td><%= foul.player.player %></td>
            <td><%= foul.GP %></td>
            <td><%= foul.PF %></td>
            <td><%= foul.PFPG %></td>
          </tr>
        <% end %>
        </table>

        <%= will_paginate @fouls %>
    </div>
</section>