<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @foul.id %>
</p>

<p>
  <b>Gp:</b>
  <%= @foul.GP %>
</p>

<p>
  <b>Mpg:</b>
  <%= @foul.MPG %>
</p>

<p>
  <b>Pf:</b>
  <%= @foul.PF %>
</p>

<p>
  <b>Pfpg:</b>
  <%= @foul.PFPG %>
</p>

<p>
  <b>Pfp48m:</b>
  <%= @foul.PFP48M %>
</p>

<p>
  <b>Eject:</b>
  <%= @foul.eject %>
</p>

<p>
  <b>Day:</b>
  <%= @foul.day %>
</p>

<p>
  <b>Month:</b>
  <%= @foul.month %>
</p>

<p>
  <b>Year:</b>
  <%= @foul.year %>
</p>

<p>
  <b>Season:</b>
  <%= @foul.season %>
</p>

<p>
  <b>Player:</b>
  <%= @foul.player_id %>
</p>


<%= link_to 'Edit', edit_foul_path(@foul) %> |
<%= link_to 'Back', fouls_path %>
