<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @score.id %>
</p>

<p>
  <b>Gp:</b>
  <%= @score.GP %>
</p>

<p>
  <b>Mpg:</b>
  <%= @score.MPG %>
</p>

<p>
  <b>Pts:</b>
  <%= @score.PTS %>
</p>

<p>
  <b>Fgm:</b>
  <%= @score.FGM %>
</p>

<p>
  <b>Fga:</b>
  <%= @score.FGA %>
</p>

<p>
  <b>Fg:</b>
  <%= @score.FG %>
</p>

<p>
  <b>3pm:</b>
  <%= @score.3PM %>
</p>

<p>
  <b>3pa:</b>
  <%= @score.3PA %>
</p>

<p>
  <b>3p:</b>
  <%= @score.3P %>
</p>

<p>
  <b>Ftm:</b>
  <%= @score.FTM %>
</p>

<p>
  <b>Fta:</b>
  <%= @score.FTA %>
</p>

<p>
  <b>Ft:</b>
  <%= @score.FT %>
</p>

<p>
  <b>Day:</b>
  <%= @score.day %>
</p>

<p>
  <b>Month:</b>
  <%= @score.month %>
</p>

<p>
  <b>Year:</b>
  <%= @score.year %>
</p>

<p>
  <b>Season:</b>
  <%= @score.season %>
</p>

<p>
  <b>Player:</b>
  <%= @score.player_id %>
</p>


<%= link_to 'Edit', edit_score_path(@score) %> |
<%= link_to 'Back', scores_path %>
