	<nav id="menu_arriba">
	</nav>
</header>

<% @scores_leaders.each do |player| %>
  <%= player.player %>
  <%= player.fantasy.rank %> <br/>       
<% end %> 
<br/><br/>  
<% @assists_leaders.each do |player| %>
  <%= player.player %>
  <%= player.fantasy.rank %> <br/>       
<% end %> 
<br/><br/>    
<% @rebounds_leaders.each do |player| %>
  <%= player.player %>
  <%= player.fantasy.rank %> <br/>       
<% end %> 
<br/><br/>    
<% @steals_leaders.each do |player| %>
  <%= player.player %>
  <%= player.fantasy.rank %> <br/>       
<% end %>   
<br/><br/>    
<% @blocks_leaders.each do |player| %>
  <%= player.player %>
  <%= player.fantasy.rank %> <br/>       
<% end %> 
<br/><br/>    
<% @fouls_leaders.each do |player| %>
  <%= player.player %>
  <%= player.fantasy.rank %> <br/>       
<% end %> 
<br/><br/>    
<% @turnovers_leaders.each do |player| %>
  <%= player.player %>
  <%= player.fantasy.rank %> <br/>       
<% end %> 
<br/><br/>    
<% @technicals_leaders.each do |player| %>
  <%= player.player %>
  <%= player.fantasy.rank %> <br/>       
<% end %>   
<br/><br/>    
<% @throws_leaders.each do |player| %>
  <%= player.player %>
  <%= player.fantasy.rank %> <br/>       
<% end %>     