<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @assist.id %>
</p>

<p>
  <b>Gp:</b>
  <%= @assist.GP %>
</p>

<p>
  <b>Mpg:</b>
  <%= @assist.MPG %>
</p>

<p>
  <b>Ast:</b>
  <%= @assist.AST %>
</p>

<p>
  <b>Apg:</b>
  <%= @assist.APG %>
</p>

<p>
  <b>T o:</b>
  <%= @assist.T_O %>
</p>

<p>
  <b>Topg:</b>
  <%= @assist.TOPG %>
</p>

<p>
  <b>Ap48m:</b>
  <%= @assist.AP48M %>
</p>

<p>
  <b>Ast to:</b>
  <%= @assist.AST_TO %>
</p>

<p>
  <b>Day:</b>
  <%= @assist.day %>
</p>

<p>
  <b>Month:</b>
  <%= @assist.month %>
</p>

<p>
  <b>Year:</b>
  <%= @assist.year %>
</p>

<p>
  <b>Season:</b>
  <%= @assist.season %>
</p>


<%= link_to 'Edit', edit_assist_path(@assist) %> |
<%= link_to 'Back', assists_path %>
