<%= form_for(@block) do |f| %>
  <% if @block.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@block.errors.count, "error") %> prohibited this block from being saved:</h2>

      <ul>
      <% @block.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br />
    <%= f.number_field :id %>
  </div>
  <div class="field">
    <%= f.label :GP %><br />
    <%= f.number_field :GP %>
  </div>
  <div class="field">
    <%= f.label :MPG %><br />
    <%= f.text_field :MPG %>
  </div>
  <div class="field">
    <%= f.label :BLK %><br />
    <%= f.number_field :BLK %>
  </div>
  <div class="field">
    <%= f.label :PF %><br />
    <%= f.number_field :PF %>
  </div>
  <div class="field">
    <%= f.label :BLKPG %><br />
    <%= f.number_field :BLKPG %>
  </div>
  <div class="field">
    <%= f.label :BLKP48M %><br />
    <%= f.text_field :BLKP48M %>
  </div>
  <div class="field">
    <%= f.label :BLK_PF %><br />
    <%= f.text_field :BLK_PF %>
  </div>
  <div class="field">
    <%= f.label :day %><br />
    <%= f.number_field :day %>
  </div>
  <div class="field">
    <%= f.label :month %><br />
    <%= f.number_field :month %>
  </div>
  <div class="field">
    <%= f.label :year %><br />
    <%= f.number_field :year %>
  </div>
  <div class="field">
    <%= f.label :season %><br />
    <%= f.text_field :season %>
  </div>
  <div class="field">
    <%= f.label :player_id %><br />
    <%= f.number_field :player_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
