<h1>Listing blocks</h1>
<%= link_to 'Toda la temporada', blocks_path %>
<%= link_to "Día anterior", :controller => "blocks", :action => "daybefore"%>
<%= link_to "Últimos 5 días", :controller => "blocks", :action => "fivedaysbefore"%>
<%= link_to "Últimos 10 días", :controller => "blocks", :action => "tendaysbefore"%>

<table>
  <tr>
    <th>Jugador</th>
    <th>Partidos Jugados</th>
    <th>Tapones</th>
    <th>Tapones por Partido</th>
  </tr>

<% @blocks.each do |block| %>
  <tr>
    <td><%= link_to  block.player.player, block.player %></td>
    <td><%= block.GP %></td>
    <td><%= block.BLK %></td>
    <td><%= block.BLKPG %></td>    
  </tr>
<% end %>
</table>
<%= will_paginate @blocks %>