<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @block.id %>
</p>

<p>
  <b>Gp:</b>
  <%= @block.GP %>
</p>

<p>
  <b>Mpg:</b>
  <%= @block.MPG %>
</p>

<p>
  <b>Blk:</b>
  <%= @block.BLK %>
</p>

<p>
  <b>Pf:</b>
  <%= @block.PF %>
</p>

<p>
  <b>Blkpg:</b>
  <%= @block.BLKPG %>
</p>

<p>
  <b>Blkp48m:</b>
  <%= @block.BLKP48M %>
</p>

<p>
  <b>Blk pf:</b>
  <%= @block.BLK_PF %>
</p>

<p>
  <b>Day:</b>
  <%= @block.day %>
</p>

<p>
  <b>Month:</b>
  <%= @block.month %>
</p>

<p>
  <b>Year:</b>
  <%= @block.year %>
</p>

<p>
  <b>Season:</b>
  <%= @block.season %>
</p>

<p>
  <b>Player:</b>
  <%= @block.player_id %>
</p>


<%= link_to 'Edit', edit_block_path(@block) %> |
<%= link_to 'Back', blocks_path %>
