<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @technical.id %>
</p>

<p>
  <b>Div:</b>
  <%= @technical.DIV %>
</p>

<p>
  <b>P:</b>
  <%= @technical.P %>
</p>

<p>
  <b>Gp:</b>
  <%= @technical.GP %>
</p>

<p>
  <b>Gs:</b>
  <%= @technical.GS %>
</p>

<p>
  <b>Pf:</b>
  <%= @technical.PF %>
</p>

<p>
  <b>Tf:</b>
  <%= @technical.TF %>
</p>

<p>
  <b>Ff:</b>
  <%= @technical.FF %>
</p>

<p>
  <b>Dq:</b>
  <%= @technical.DQ %>
</p>

<p>
  <b>Day:</b>
  <%= @technical.day %>
</p>

<p>
  <b>Month:</b>
  <%= @technical.month %>
</p>

<p>
  <b>Year:</b>
  <%= @technical.year %>
</p>

<p>
  <b>Season:</b>
  <%= @technical.season %>
</p>

<p>
  <b>Player:</b>
  <%= @technical.player_id %>
</p>


<%= link_to 'Edit', edit_technical_path(@technical) %> |
<%= link_to 'Back', technicals_path %>
