<%= form_for(@player) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table>
  <tr class="field">
    <td><%= f.label :id %></td>
    <td><%= f.number_field :id %></td>
  </tr>
  <tr class="field">
    <td><%= f.label :player %></td>
    <td><%= f.text_field :player %></td>
  </tr>
  <tr class="field">
    <td><%= f.label :team %></td>
    <td><%= f.text_field :team %></td>
  </tr>
</table>
<div class="actions">
    <%= f.submit %>
</div>
<% end %>
