</header>

<section id="azul">
  	<div class="transazul">
		<table>
			<tr>
				<%= notice %>
			</tr>
			<tr>
				<td>Id:</td>
				<td><%= @player.id %></td>
			</tr>
			<tr>
				<td>Player:</td>
				<td><%= @player.player %></td>
			</tr>
			<tr>
				<td>Team:</td>
				<td><%= @player.team %></td>
			</tr>

		</table>
		<div class="edit">	
			<%= link_to 'Edit', edit_player_path(@player) %>
			<%= link_to 'Back', players_path %>
		</div>
	</div>
</section>