<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @steal.id %>
</p>

<p>
  <b>Gp:</b>
  <%= @steal.GP %>
</p>

<p>
  <b>Mpg:</b>
  <%= @steal.MPG %>
</p>

<p>
  <b>Stl:</b>
  <%= @steal.STL %>
</p>

<p>
  <b>Stpg:</b>
  <%= @steal.STPG %>
</p>

<p>
  <b>Stp48m:</b>
  <%= @steal.STP48M %>
</p>

<p>
  <b>T o:</b>
  <%= @steal.T_O %>
</p>

<p>
  <b>Topg:</b>
  <%= @steal.TOPG %>
</p>

<p>
  <b>Pf:</b>
  <%= @steal.PF %>
</p>

<p>
  <b>St to:</b>
  <%= @steal.ST_TO %>
</p>

<p>
  <b>St tf:</b>
  <%= @steal.ST_TF %>
</p>

<p>
  <b>Day:</b>
  <%= @steal.day %>
</p>

<p>
  <b>Month:</b>
  <%= @steal.month %>
</p>

<p>
  <b>Year:</b>
  <%= @steal.year %>
</p>

<p>
  <b>Season:</b>
  <%= @steal.season %>
</p>

<p>
  <b>Player:</b>
  <%= @steal.player_id %>
</p>


<%= link_to 'Edit', edit_steal_path(@steal) %> |
<%= link_to 'Back', steals_path %>
