<!DOCTYPE html>
<html>
<head>
  <title>+ Que Fantasy NBA</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= link_to image_tag('logo.png'), root_path %> 
  <p>
    <%= link_to 'tapones', blocks_path %>
    <%= link_to 'asistencias', assists_path %>
    <%= link_to 'faltas personales', fouls_path %>
    <%= link_to 'rebotes', rebounds_path %>
    <%= link_to 'robos', steals_path %>
    <%= link_to 'péridas de balon', turnovers_path %>
    <%= link_to 'puntos', scores_path %>
  </p>

<%= yield %>
  
  <p>
    <%= link_to 'tapones', blocks_path %>
    <%= link_to 'asistencias', assists_path %>
    <%= link_to 'faltas personales', fouls_path %>
    <%= link_to 'rebotes', rebounds_path %>
    <%= link_to 'robos', steals_path %>
    <%= link_to 'péridas de balon', turnovers_path %>
    <%= link_to 'puntos', scores_path %>
  </p>

</body>
</html>
